= form_for @comment, url: { controller: "comments", action: "create", task_id: @task.id }, html: { method: :post } do |f|
  .tr_form_group
    = f.text_field :body, class: 'tr_form_control'
  = f.submit 'Добавить комментарий', class: 'tr_submit_button'
