= form_for @comment, url: { controller: "comments", action: "create", task_id: @task.id }, html: { method: :post } do |f|
  .form-group
    = f.text_field :body, class: 'form-control'
  = f.submit 'Add comment'