// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'application';

.panel {
  position:relative;
}
.comments-block{
  margin-bottom: 20px;
}
.comment-panel{
  border-color: $tr_lightest;
}
.comment-panel>.panel-heading{
  background: $tr_lightest;
  border-color: $tr_lightest;
}
.comment-panel.panel>.panel-heading:after,.comment-panel.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.comment-panel.panel>.panel-heading:after{
  border-width:7px;
  border-right-color: $tr_lightest;
  margin-top:1px;
  margin-left:2px;
}
.comment-panel.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}
.panel-comment-body{
  padding: 10px;
}
.comment{
  margin-top: 20px;
}
.comment-image{
  width: 64px;
  height: 64px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 32px;
  }
}
