a#doc_create_form_link{
  text-decoration: none;
}
.documents_block{
  margin-top: 20px;
}
.wiki_doc_info_header{
  margin: 2px;
  margin-bottom: 10px;
}
.wiki_doc_info_link{
  i.fa{
    margin-top: 8px;
  }
}
